.home {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 1fr 374px;
  overflow: hidden;
  margin: 58px 20px 20px 65px;
  position: relative;

  @media screen and(max-width: 990px) {
    grid-template-columns: 1fr;
    margin: 58px 20px 20px 65px;
  }

  @media screen and(max-width: 590px) {
    grid-template-columns: 1fr;
    margin: 58px 8px 20px 65px;
  }

  .main {
    .profil {
      .profil__container {
        max-width: 100%;
        margin: 0px;
        display: grid;
        grid-template-columns: 1fr;

        @media screen and(max-width: 885px) {
          grid-template-columns: 1fr;
        }
      }
    }
  }
  .right-side {
    position: relative;
    width: 100%;
    margin: 0px 0 0 14px;

    @media screen and(max-width: 990px) {
      display: none;
    }

    .right-side-container {
      position: fixed;
    }
  }
}
